.button{
color-pressed:white;
width:33%;
color-hovering:blue;
color-base:lightblue;
height:100;
}
system{
frameRate:120;
textSize:24;
stroke:255;
}
.joystick{
inner-radius:100;
}
body{
background-blue:255;
background-red:255;
font-size:15px;
background-green:255;
}

